.dataset-explorer-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.dataset-explorer-main {
    flex-grow: 1;
}

.deal-panel {
    width: 400px;
    height: 100%;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    overflow-y: auto;
    padding: 1rem;
}

.deal-panel-offcanvas {
    width: auto !important;
    max-width: 100% !important;
}
