
.list-group .source-button {
    text-decoration: none;
    color: #6c757d;
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem 1.25rem; /* Reduced padding-top and padding-bottom */
    font-size: 0.9rem;
    font-weight: 500;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    margin: 0;
    border-radius: 0;
}

.list-group .source-button:hover,
.list-group .source-button:focus {
    text-decoration: none;
    color: #5a6268;
    background-color: #f8f9fa;
}

.list-group .source-button:active {
    color: #6c757d;
    background-color: #f8f9fa;
}
