name: GoReleaser
on:
  release:
    types: [ published ]
  workflow_dispatch:
  workflow_run:
    workflows: [Releaser]
    types: [completed]
jobs:
  bin-releaser:
    name: Release Binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20.x"
      - name: Release Binaries
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: v2.1.0
          args: ${{ github.event_name == 'pull_request' && 'release --snapshot --skip-publish' || 'release --clean' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
